h1, h3{
  text-align: center;

}

#cave, #forest, #mountain, #stream {

  margin-left: 5%;
  margin-top: 5%

}
#caveLose, #caveWin, #forestWin, #forestLose, #mounWin, #mounLose, #streamLose, #streamWin{
  margin-left: 20%;
}


#water, #donut{
  margin-left: 5%;
}

#oats {
  margin-left: 3%;
  margin-top: 5%;
}
#coke, #sandwich, #pizza, #fries{
  margin-left: 3%;
  margin-bottom: 4%;
}

#kidCave {
  margin-left: 3%;
}

header {
  background-color: #767999;
  text-align: right;
}

#letsPlayScreen {
  height: 600px;
  width: 1000px;
  background-image: url('images/lets_go_on_an_adventure_1024.png');
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;

}

#beginGameButton {
  font-size: 48px;
  text-decoration: none;
  position: absolute;
  color: black;
  margin-top: 350px;
  margin-left: 650px;

}
.headerItems {
  display: inline-block;
  padding: 36px;
  font-size: 24px;
}
.headerLinks {
  text-decoration: none;
  color: black;

}
