<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../../style.css">
  </head>
  <body>
    <img id="kidCave" src="https://i.imgur.com/NBXme2T.png" alt="kid">
        <img id="cave" src="https://i.imgur.com/aZX1oMC.png" alt="cave">
          <img id="coke" src="https://i.imgur.com/Cb40EMX.png" alt="coke">
                <img id="water" src="https://i.imgur.com/GfkpYag.png" alt="water">
                  <h1>Watch out! Fructar is in your sights! Drink up so you stay hydrated!</h1>
                    <h3>Choose your beverage wisely</h3>

  </body>
  <script src="../../../main.js"></script>
</html>
